.preview-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 21px;
    margin-top: 13px;
}

.preview-color{
    width: 100px;
    height: 46px;
    border: solid 1px #000;
    
}

.preview-text-box{
    width: 292px;
    height: 46px;
    margin: 0 0 0 12px;
    padding: 0 0 0 2px;
    border: solid 1px #000;
    background-color: #fff;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}