.shirt-preivew-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 649px;
    height: 630px;
    margin: 0 0 0 27px;
    box-shadow: inset 28px 28px 6px 0 rgba(0, 0, 0, 0.4);
    border: solid 27px #d8d8d8;

}