.canvas-style {
	width: 404px;
	height: 404px;
	margin: 27px 27px 27px 27px;
  background-color: white;
}

.color-picker-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	width: 458px;
  height: 630px;
  margin: 0 27px 0 0;
  padding: 27px 17px 17px 21px;
  background-color: #d8d8d8;
}
